<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Website</title>
</head>
<body>
    <h1>Welcome to Express Pizza</h1>
    <img src="/pizza-image.jpeg" alt="Pizza Slices" width="450"/>
    <h2>Specialty Pizzas</h2>
    <a href="/specialty-pizza?name=supreme&price=20.00">Supreme</a>
    <a href="/specialty-pizza?name=veggie&price=13.00">Veggie</a>
    <a href="/specialty-pizza?name=pepperoni&price=15.00">Pepperoni</a>
    <h2>Custom Pizza</h2>
    <a href="">Build your own!</a>
    <h2>Leave a Review</h2>
    <a href="Leave a review"></a>
    
</body>
</html>