<form action="/review" method="get" method="post">
    <p>
        <label for="name">Name</label>
        <input id="name" name="name" />
    </p>
    <p>
        <label for="comment">Comment</label>
        <input id="comment" name="comment"/>
    </p>
     <p>
        <label for="rating">Rating</label>
        <input type="radio" id="rating" name="rating" value=1/>
        <label for="rating-5">5 (best)</label>
        <input type="radio" id="rating" name="rating" value= 2/>
        <label for="rating-4">4-</label>
        <input type="radio" id="rating" name="rating" value= 3/>
        <label for="rating-3">3-</label>
        <input type="radio" id="rating" name="rating" value= 4/>
        <label for="rating-2">2-</label>
        <input type="radio" id="rating" name="rating" value= 5/>
        <label for="rating-1">1 (worst)</label>
    </p>
    <p>
        <button type="submit"> Submit</button>
    </p>
    <p>
        <a href="/">Nevermind</a>
    </p>
</form>